<div class="pip-scroll-y pip-list-container" ng-if="$ctrl.state == 'data'">
    <table class="table table-striped" ng-if="$ctrl.pipMedia('gt-sm')">
        <tbody>
            <tr class="pointer" ng-repeat="event in $ctrl.collection track by event.id" ng-click="$ctrl.openRetrospective(event)">
                <td class="iqs-icon-td">
                    <md-icon md-svg-icon="icons:info-circle" ng-if="event.severity == $ctrl.severityLow" class="fg-cyan">
                    </md-icon>
                    <md-icon md-svg-icon="icons:warn-triangle" ng-if="event.severity == $ctrl.severityMedium" class="fg-orange">
                    </md-icon>
                    <md-icon md-svg-icon="icons:stop" ng-if="event.severity == $ctrl.severityHigh" class="color-error">
                    </md-icon>
                </td>
                <td class="iqs-medium-td">{{ event.time | formatMiddleDateTime }}</td>
                <td class="">{{ event.description }}</td>
            </tr>
        </tbody>
    </table>

    <md-list class="pip-ref-list tp0" ng-if="($ctrl.pipMedia('xs') || $ctrl.pipMedia('sm'))">
        <md-list-item class="pip-ref-list-item " ng-class="{'divider-bottom' : !$last }" ng-repeat="event in $ctrl.collection  track by event.id"
                      ng-click="$ctrl.openRetrospective(event)">
            <div class="pip-pic flex-fixed m0 rm16 layout-row layout-align-center-center">
                <md-icon md-svg-icon="icons:info-circle" ng-if="event.severity == $ctrl.severityLow" class="fg-cyan">
                </md-icon>
                <md-icon md-svg-icon="icons:warn-triangle" ng-if="event.severity == $ctrl.severityMedium" class="fg-orange">
                </md-icon>
                <md-icon md-svg-icon="icons:stop" ng-if="event.severity == $ctrl.severityHigh" class="color-error">
                </md-icon>
            </div>
            <div class="pip-content flex">
                <div class="text-body2 text-overflow">
                    {{ event.description }}
                    <p class="pip-subtitle">
                        {{ event.time | formatMiddleDateTime }}
                    </p>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>

<div class="layout-column layout-align-center-center flex h-stretch iqs-empty" ng-if="($ctrl.state == 'empty' || $ctrl.state == 'progress')">
    <div class="pip-empty" ng-if="$ctrl.state == 'empty'">
        <img src="images/empty/empty.svg" class="pip-pic">
        <div class="pip-text">
            {{ ::'EVENT_DATA_EMPTY' | translate }}
        </div>
    </div>

    <div class="pip-empty" ng-if="$ctrl.state == 'progress'">
        <img src="images/empty/progress.svg" class="pip-pic">
        <div class="pip-text">
            {{ ::'EVENT_DATA_LOADING' | translate }}
            <md-progress-linear md-mode="indeterminate" class="tm24"></md-progress-linear>
        </div>
    </div>
</div>